# Q. 5   Describe the key features of sets and provide examples of their use .

Sets are a fundamental data structure in Python that represent an unordered collection of unique elements. Here are the key features of sets:

1. Unordered:

Sets do not maintain the order of elements. This means that elements have no specific position or index.

2. Unique Elements:

A set automatically removes duplicate elements, ensuring that all elements are unique.


3. Mutable:

Sets are mutable, meaning you can add or remove elements after the set has been created.

4. Unindexed:

Unlike lists or tuples, sets do not have indexes or keys, so elements cannot be accessed by a specific position.

5. Efficient Membership Testing:

Sets are optimized for membership testing (checking if an element is in the set) due to their underlying implementation using hash tables.

6. No Duplicates:

If you try to add an element that already exists in the set, the set remains unchanged.

In [1]:
# Creating a set

set = {}
print(type(set)) # it will return dict because dict print key value pairs : <class 'dict'>


# so type of empty set show as dict 

# if you put something in {} it will provide set couse it does not have any key value pair 
set1 = {"swaraj"}
print(type(set1)) # will give result as :  <class set>

<class 'dict'>
<class 'set'>

In [1]:
# Removing Duplicates: When you have a list with duplicate entries, converting it to a set removes duplicates. 

#  Removing Duplicates from a List: 

list1 = [1,2,3,"brinjl","orange","ram",True,56.4,"orange", "apple","apple"]
#[1, 2, 3, 'brinjl', 'orange', 'ram', True, 56.4, 'orange', 'apple', 'apple']


# if i print the list1 it will print all the element besause it is a list 
print(list1)

# but if i convert this list1 to a set it will print only elemnt of "list1" not the repeted element
print(set(list1)) #{1, 2, 3, 'ram', 'orange', 'apple', 'brinjl', 56.4}

list(list1) # again converted to it a list

[1, 2, 3, 'brinjl', 'orange', 'ram', True, 56.4, 'orange', 'apple', 'apple']
{1, 2, 3, 'apple', 'ram', 'brinjl', 56.4, 'orange'}

[1, 2, 3, 'brinjl', 'orange', 'ram', True, 56.4, 'orange', 'apple', 'apple']

In [2]:
# set is mutable 

ss1 = {1,2,4,5,(3,4,6)} 
print(ss1)
print(type(ss1))    # <class 'set'>

ss1.add(100) # {1, 2, 4, 5, (3, 4, 6), 100}
print(ss1)
ss1.add(6) # it not compulsorry that elemnt will be adedd to the last because sets are unordered
print(ss1) # output : {1, 2, 4, 5, (3, 4, 6), 100, 6}

{1, 2, 4, 5, (3, 4, 6)}
<class 'set'>
{1, 2, 4, 5, (3, 4, 6), 100}
{1, 2, 4, 5, (3, 4, 6), 100, 6}

In [3]:
ss1.pop() #thoough it is unorded it also not compulsory that it will remove / pop the last element
# it will only one orbitary element

1

In [4]:
ss1.pop(4) #it will not work becuae it ill remove one element randomly 
# TypeError: set.pop() takes no arguments (1 given)  
print(ss1)

TypeError: set.pop() takes no arguments (1 given)

In [5]:
# you can specifically remove an element
ss1.remove(4) # removes specific element
print(ss1)  # output :

{2, 5, (3, 4, 6), 100, 6}

In [6]:
ss1.update("ajay")
print(ss1) # it will add but in diiffrent char you know it s unodred
ss1.update(["swaraj"])
ss1.update([2,3]) #you have to add in thi way the integers cant directly ad

{2, 100, 5, (3, 4, 6), 6, 'y', 'a', 'j'}

In [7]:
# Membership Testing:Membership Tests:
#  Since sets are optimized for membership tests, they are ideal for situations where you need to frequently check if an item exists in a collection.

fruits = {"apple", "banana", "cherry"}
print("banana" in fruits)  # Output: True
print("grape" in fruits)   # Output: False

True
False

Set operation:

set operations 
1. Union >> combine elements from two setexcluding dupliates

2. intersection >> only common elmrnt btween sets

3. diffrenence >> returns the elments that present in 1st set and not in 2nd set

4. symettry diffrent >> returns the elements that are prsent in eithe of the sets but not in both

In [8]:
# set operation

set1 = {"coding","swimming","dancing","cycling"}

set2 = {"dancing","coding", "singing","photography"}


# 1 . union >> combine all the element
print(set1 | set2) 
# output : {'dancing', 'coding', 'photography', 'singing', 'swimming', 'cycling'}


# 2. intersection >> common elemnts

print (set1 & set2)
# output : {'dancing', 'coding'}


# 3.  diffrence >> present in 1st not in 2nd

print(set1 - set2)
# output : {'swimming', 'cycling'}


# symmetric diffrence : returns the elements that are prsent in eithe of the sets bit not in both
print(set1 ^ set2)
#output : {'photography', 'singing', 'swimming', 'cycling'}

{'cycling', 'photography', 'swimming', 'dancing', 'singing', 'coding'}
{'dancing', 'coding'}
{'swimming', 'cycling'}
{'cycling', 'photography', 'swimming', 'singing'}